@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Todas as demais midias */


/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px ate 678px
Tablet: 768 até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px */




@media screen and (min-width: 768px)  {
    #burger {
        display: none;
    }

    nav {
        display: block;
        
    }

    nav li {
        display: inline-block;
        text-align: center;
    }

    main {
        width: 700px;
    }
}
   